<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a207_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="207_demo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".roomSystem.CreateRoomActivity"
            android:label="Adding Room"
        <activity
            android:name=".roomSystem.RoomActivity"
            android:label="Room"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".speakerSystem.SelectSpeakerActivity"
            android:label="Speaker Selection"
            android:launchMode="singleTask" />
        <activity
            android:name=".roomSystem.SelectRoomActivity"
            android:label="Room Selection"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.CreateEventActivity"
            android:label="Event Information"
            android:launchMode="singleTask"></activity>
        <activity android:name=".utility.CleanArchActivity" />
        <activity
            android:name=".eventSystem.AttendeeMyEventContentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.SpeakerEventContentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".eventSystem.EventActivity" />
        <activity android:name=".eventSystem.EventContentActivity" />
        <activity
            android:name=".eventSystem.OrganizerEventContentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.OrganizerEventActivity"
            android:label="All Events"
            android:launchMode="singleTask" />
        <activity
            android:name=".contactSystem.SpeakerContactActivity"
            android:label="Contacts"
            android:launchMode="singleTask" />
        <activity
            android:name=".messageSystem.SpeakerAnnouncementActivity"
            android:label="Announcements"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.SpeakerMyEventActivity"
            android:label="My Events"
            android:launchMode="singleTask" />
        <activity android:name=".TempActivity" />
        <activity
            android:name=".signupSystem.SignUpActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".messageSystem.AnnouncementActivity"
            android:label="Announcements"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.AttendeeMyEventActivity"
            android:label="My Events"
            android:launchMode="singleTask" />
        <activity
            android:name=".utility.Settings"
            android:label="Settings"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.AttendeeEventActivity"
            android:label="All Events"
            android:launchMode="singleTask" />
        <activity
            android:name=".eventSystem.AttendeeEventContentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".contactSystem.ContactActivity"
            android:label="Contact"
            android:launchMode="singleTask" />
        <activity
            android:name=".messageSystem.MsgActivity"
            android:label="Chat"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>